.idea
**node_modules
**npm-debug.log
**bower_components
**app/*.js.map
**.DS_Store
**build/
**typings/
**.sass-cache



# Angular Cli

# compiled output
**/dist
**/tmp

# IDEs and editors
**.project
**.classpath
**.c9/
**.launch
**.settings/

# IDE - VSCode
**.vscode/*
**!.vscode/settings.json
**!.vscode/tasks.json
**!.vscode/launch.json
**!.vscode/extensions.json

# misc
**/.sass-cache
**/connect.lock
**/coverage/*
**/libpeerconnection.log
**testem.log
**/typings

# e2e
**e2e/*.js
**e2e/*.map

#System Files
**Thumbs.db