#feed {
    width: 250px;
    height: 500px;
    margin-left: 35%;
    margin-top: -475px;
}

.feed__status {
    background-color: lightblue;
    height: 50px;
    padding-top: 10px;
}

#feed__input {
    margin-top: -35px;
}

#feed__input input{
    border: solid blue .5px;
    margin-left: 45px;
}

#feed__input input::placeholder {
    color: blue;
}

#feed__status_icon {
    background-color: darkred;
    height: 35px;
    width: 35px;
    padding-top: 10px;
    margin-left: 10px;
    font-size: 50%;
    color: white;
}

.feed__friend_updates {
    border: solid grey 1px;
}

.feed__friend_status {
    border: solid grey 1px;
}


.feed__face {
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
    padding: 5px;
    width: 45px;
    height: 45px;
}

.feed__update_text {
    margin-top: -50px;
    margin-left: 55px;
}

.feed__update_text h5 {
    font-weight: bold;
    margin-bottom: -3px;
}

#feed__face1 {
    background-color: teal;
}

#feed__face2 {
    background-color: mediumpurple;
}

#feed__face3 {
    background-color: hotpink;
}

#feed__face4 {
    background-color: cornflowerblue;
}

#feed__face5 {
    background-color: forestgreen;
}