#profile-card {
    height: 150px;
    width: 220px;
    border: solid grey 5px;
    margin-left: 20px;
}

.profile-card__header {
    height: 50%;
    width: 100%;
    background-color:blue;
}

.profile-card__image {
    height: 40%;
    width: 40%;
    border-radius: 20%;
    margin-top: -20px;
    background-color: blue;
    border: solid white 2px;
    margin-left: 5px;
    color: white;
}

.profile-card__stats {
    display: inline;
    font-size: 75%;
}

.profile-card__name {
    font-weight: bold;
    margin-left: 85px;
    margin-top: -40px;
}