#feed {
    width: 250px;
    height: 500px;
    margin-left: 35%;
    margin-top: -475px;
}

.feed__status {
    background-color: lightblue;
    height: 50px;
    padding-top: 10px;
}

#feed__input {
    margin-top: -35px;
}

#feed__input input{
    border: solid blue .5px;
    margin-left: 45px;
}

#feed__input input::placeholder {
    color: blue;
}

#feed__status_icon {
    background-color: darkred;
    height: 35px;
    width: 35px;
    padding-top: 10px;
    margin-left: 10px;
    font-size: 50%;
    color: white;
}

.feed__friend_updates {
    border: solid grey 1px;
}

