.Navbar__home_btn {
    background-color: white;
    border: solid gray 1px;
}

.Navbar__notifications_btn {
    background-color: white;
    border: solid gray 1px;
}

.Navbar__messages_btn {
    background-color: white;
    border: solid gray 1px;
}

.Navbar__tweet_btn {
    background-color: white;
    border: solid blue 1px;
    border-radius: 15px;
}

.Navbar__search {
    border-radius: 15px;
    border: solid blue 1px;
    margin-left: 110px;
    margin-right: 10px;
}

hr {
    border-top-width: 1px;
    height: 1px;
    border-color: grey;
}