#profile-card {
    height: 150px;
    width: 200px;
    border: solid grey 2px;
    margin-left: 20px;
    padding-bottom: 5px;
}

.profile-card__header {
    height: 50%;
    width: 100%;
    background-color:blue;
}

.profile-card__image {
    height: 40%;
    width: 30%;
    border-radius: 20%;
    margin-top: -20px;
    background-color: blue;
    border: solid white 2px;
    margin-left: 5px;
    color: white;
}

.profile-card__stats {
    margin-top: 20px;
}

.profile-card__stats div {
    display: inline;
    font-size: 80%;
}

.profile-card__num {
    padding-right: 15px;
}
.profile-card__name {
    font-weight: bold;
    margin-left: 50px;
    margin-top: -40px;
}