#contacts__suggested_contacts_list {
    height: 270px;
    width: 175px;
    border: solid grey 2px;
    margin-top: -500px;
    margin-left: 510px;
}

#title {
    font-weight: bold;
}
.contacts__people {
    margin-bottom: -20px;
}
.contacts__people h5 {
    font-weight: bold;
    margin-left: 50px;
}

/*.contacts__button {*/
    /*background-color: darkblue;*/
    /*color: white;*/
    /*border: none;*/
    /*margin-left: 50px;*/
/*}*/

/*for working on wide screen */
@media screen and (min-width: 850px) {
    #contacts__suggested_contacts_list{
        margin-left: 1000px;
    }
}