body {
  margin: 0px;
}
/*Black Header Section*/
.black-header {
  height: 75px;
  background-color: #333;
}

/*User Menu*/
.black-header h2, .scratch-main-menu h2 {
  display: none;
}

.black-header ul, .scratch-main-menu ul {
  list-style-type: none !important;
  margin: 0;
  padding: 0;
  padding-top: 12px;
  padding-right: 30px;
  float: right;
}

.black-header li, .scratch-main-menu li {
  display: inline;
}

.scratch-user-menu {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.scratch-user-menu .menu a:link {color: #FFF; text-decoration: none;}
.scratch-user-menu .menu a:visited {color: #FFF; text-decoration: none;}
.scratch-user-menu .menu a:hover {color: #FFF; text-decoration: underline;}
.scratch-user-menu .menu a:active {color: #FFF; text-decoration: none;}


/*Header Section*/
.scratch-header {
  width: 960px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  }

  /*Logo*/
  .logo-div{
    float: left;
    margin-left: -20%;
  }

  .logo-div img {
    border-radius: 10%;

  }

  /*Main Menu*/
  .scratch-main-menu {
    float: right;
  }

  .scratch-main-menu ul {
  padding-top: 40px;
  padding-right: 30px;
  }

  .scratch-main-menu .menu a:link {color: #4d4d4d; text-decoration: none;}
  .scratch-main-menu .menu a:visited {color: #4d4d4d; text-decoration: none;}
  .scratch-main-menu .menu a:hover {color: #4d4d4d; text-decoration: underline;}
  .scratch-main-menu .menu a:active {color: #4d4d4d; text-decoration: none;}


  /*Main Content*/
  .scratch-content-container-div {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  /*Breadcrumb*/
  #breadcrumb {
    margin-top: 15px;
  }


/*Footer*/
.scratch-footer{
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  color: #4d4d4d;
  text-align: center;
}
