/* Gratis subtheme css file */

#header-bar {
    background-color: #003399;
    padding-top: 75px;
    color: #fff;

}

#header-bar a:link{color: #fff; text-decoration: none;}
#header-bar a:visited{color: #fff; text-decoration: none;}
#header-bar a:hover{color: #fff; text-decoration: none;}
#header-bar a:active{color: #fff; text-decoration: underline;}

#menu-wrapper[role="navigation"] {
    background-color: #003399;
}

.main-menu-wrapper {
    background-color: #000;
}


#block-system-navigation {
    color: #003399;
}

#block-system-navigation a:link{ color: #003399}
#block-system-navigation a:visited{ color: #003399}
#block-system-navigation a:hover{ color: #003399}
#block-system-navigation a:active{ color: #003399}

